<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4 text-center">View Post</h1><br>
            <a href="{{url_for('post')}}" class="btn btn-dark ">Upload Post</a>
        </div>
        <div class="{{tags}}" role="alert">
            {{msg}}
            <button type="button" class="close" data-dismiss="alert" aria-label="">
            </button>
        </div>
        <table class="table table-responsive">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Image</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Category</th>
                <th scope="col">Content</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
            <!-- {{myresult}} -->
            {% for data in myresult %}
              <tr>
                <!-- {{data}} -->
                <th scope="row">{{loop.index}}</th>
                <th scope="col"><img src="{{ url_for('static', filename='images/' + data.5) }}" alt="" width="120"></th>
                <th scope="col">{{data[1]}}</th>
                <th scope="col">{{data[2]}}</th>
                <th scope="col">{{data[4]}}</th>
                <th scope="col">{{data[3]}}</th>
                <th scope="col">{{data[6]}}</th>
                {% if data[7] == '1' %}
                <th scope="col">Public</th>
                {% else %}
                <th scope="col">Private</th>
                {% endif %}
                <th scope="col"><a href ="{{ url_for('update',id = data[0]) }}" class="btn btn-info">Update</a></th>
                <th scope="col"><a href="{{url_for('delete',postid=data[0])}}" class="btn btn-danger">Delete</a></th>
              </tr>
            {% endfor %}
            </tbody>
          </table>
    </div>
</body>
</html>